doctype 5
html
  head
    title Coaching Handbook
    
    link(rel="stylesheet", type="text/css", href="scripts/main.css")

  body
    .container
      h1 
        span Coaching Handbook 
        small reference guide
     
      ul.breadcrumb
        li
          a(href=""): i.icon-home
          span.divider / 
        li
          a(href="#") Sport
          span.divider / 

      block content
    
    
    script(src="scripts/main_libs-ck.js")
    script(src="scripts/main.js")