doctype 5
html
  head
    title title
    
    link(rel="stylesheet", type="text/css", href="scripts/main.css")

  body
    .container
      block content
    
    
    script(src="main_libs-ck.js")
    script(src="main.js")